.checkbox {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5em;
}
.checkbox input {
  width: 1.5rem;
  aspect-ratio: 1/1;
}

.ycard {
  padding: 0.5em;
  width: 25rem;

  border: 1px solid gray;
}

.ycard .reset {
}

.dropd {
  padding: 0.5em 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5rem;
}

.igroup {
  width: 100%;
  display: flex;
  padding: 0.25rem 0;
  gap: 0.25rem;
}
/* .igroup; */
.place-right {
  text-align: right;
}
