header {
  padding: 1rem 0;
  display: flex;
  gap: 2.5vw;
  justify-content: center;
}
.cards_container {
  padding: 2.5% 5%;

  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28rem, 0.3fr));
  justify-items: center;
}

@media (max-width: 1024px) {
  .cards_container {
    padding: 0;
    width: 100%;
    /* grid-template-columns: repeat(auto-fit, minmax(90vw, 1fr)); */
    justify-content: center;
  }
}
@media (max-width: 600px) {
  .cards_container {
    grid-template-columns: repeat(auto-fit, minmax(90vw, 1fr));
    justify-content: center;
  }
}
